<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
  		<title>BookSwap</title>
	</head>

	<body>
		<div id="container">
			<div id="header" align="left">
				<img style="display: inline" src="../static/logo.png" height="42" width="300" >&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp;

                                <input type="text" placeholder="Search by Course/Professor/ISBN" required style="width:250px;" >

				&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp;  <a style="display:inline"href="index.html"> <font color="white"> Login/Signup </font></a>
			</div>

			<div id="body" align = "center">
				<p><img src="../static/step1.jpg" > &nbsp; &nbsp;  &nbsp; <img src="../static/step2.jpg" > &nbsp; &nbsp;  &nbsp; <img src="../static/step3.jpg" ></p>
			</div>

			<div id="footer" align="center">
				<br> <br> <br> <br>
				<font color="white"> BookSwap </font> <br>
				<font color="white"> Universtiy of Virginia </font> <br>
				<font color="white"> @Facebook @Twitter </font>
			</div>
		</div>
	</body>
</html>