<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>

    <body>
		<h1> About </h1>
		<p> Welcome to the Book Swap about page</p>
		<p>UVA students are constantly faced with the struggle of exchanging class materials with each other efficiently and inexpensively. While there are several Facebook groups such as Student to Student Textbooks and Textbook Exchange that allow students to exchange materials, many of these groups are deeply flawed. Due to the chronological nature of Facebook, a large amount of posts within the groups are lost and never received by students. Book Swap is a website specific to UVA students, that solves this problem. We offer students a platform where they can exchange books in one place without having to scroll through endless amounts of posts and find these books at an <strong>affordable</strong> price. </p>
		<hr>
		<p> <a href="/home/">Home</a> </p>

    </body>
</html>