<html>	
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" />
  		<title>BookSwap</title>
	</head>

	<body>
		<div id="container">
			<div id="header" align="center">
				<div id="titleLogo" style="float: left">
					<img style="display: inline" src="/static/images/logo.png" height="42" width="300" >
				</div>
				<div id="searchBar" style="float:right">
					<a style="display:inline"href="index.html"> <font color="white"> Login/Signup </font></a>
				</div>		
		        <div id="login">
  					<input type="text" placeholder="Search by Course/Professor/ISBN" required style="width:250px;" >
		        </div>                        
		   </div>

			<div id="body" align = "center" >
				<div id="firstIm" style="float: left">
					<img src="step1.jpg" > 
				</div>
				<div id="secondIm" style="float: right">
					<img src="step3.jpg" >
					
				</div>
				<div id="thirdIm" >
					<img src="step2.jpg" > 
				</div>
			</div>

			<div id="footer" align="center">
				<div id="footerText" align = "center">
					<font color="white"> BookSwap </font> <br>
					<font color="white"> Universtiy of Virginia </font> <br>
					<font color="white"> @Facebook @Twitter </font>
				</div> 
			</div>
		</div>
	</body>
</html>
