<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
		<h1>Book Swap</h1>
		
		{% if user.is_authenticated %}
		<h2>Welcome {{user.username}}</h2>
		{% else %}
		<h2>Welcome</h2>
		{% endif %}
		
		<p><b><u> Book Swap </b></u></p>
		{% if user.is_authenticated %}
		<p> <a href="/home/about/">About</a> </p> 
		{% endif %}
		
		<hr>
		<p><b><u> User account actions </b></u></p>
		{% if user.is_authenticated %}
		<p>  <a href="/home/logout/">Logout</a></p>
        <p>  <a href="/home/filebook/">Sell a Book</a></p>
        <p>  <a href="/home/viewbooks/">View Your Books</a></p>
        <p>  <a href="/home/viewallbooks/">View All Books</a></p>
        <p> To go to the admin interface, click here <a href="/admin/">Admin Interface </a>. </p
		{% else %}
		<p>  <a href="/home/login/">Login</a> </p>
		<p>  <a href='/home/register/'>Register</a> </p>
		<p>  <a href='/home/homepage/'>Home</a> </p>
		<p> To go to the admin interface, click here <a href="/admin/">Admin Interface </a>. </p> 
		{% endif %}







    </body>
</html>