<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>

    <body>
        <h1>Register with Secure Witness</h1>

        {% if registered %}
        Home says: <strong>thank you for registering!</strong>
        <a href="/home/">Return to the homepage.</a><br />
        {% else %}
        Home says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/home/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}


            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
		
		<p> Or return to the index page here: <a href='/home/'>Index</a> </p>
		
    </body>
</html>