<!DOCTYPE html>
<html>
    <head>
        <title>View Books</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/stylesheetviewbooks.css" />
    </head>

    <body>
    	<div id="container">
            <div id="header" align="center">
            	<div id="logo">
            		<a href="/home/homepage/"><img style="display: inline" src="{{ STATIC_URL }}images/logo.png" height="42" width="300" ></img></a>
            	</div>
                <div id="accountinfo">
                	<br>
                	<a href="/home/filebook/"> <input type="button"value="Sell Book" style="color: #000066; padding: 5px;  font-size: 18px; letter-spacing: 2px;" /></a>
                	<a href="/home/accountinfo/"> <input type="button"value="Account Info" style="color: #000066; padding: 5px;  font-size: 18px; letter-spacing: 2px;" /></a>
                </div>
                <br>
           </div>

            <div id="body" align = "center" >

               <h1>&nbsp &nbsp  View Books</h1>
		
				{% if user.is_authenticated %}
				
				{% else %}
				<h2>No books</h2>
				{% endif %} 

				{% if user.is_authenticated %}
					
					{% if books_list %}
					<ul>
						<p>Here is a list of {{user.username}}'s books:</p>
					    {% for book in books_list %}
					        <li><a href="/home/viewbooks/{{book.id}}/">{{book.title}}</a></li>
					    {% endfor %}
					</ul>
					{% elif allbooks_list %}
					<ul>
					    {% for book in allbooks_list %}
					        <a href="/home/viewbooks/{{book.id}}/">{{book.title}}</a>
					    {% endfor %}
					</ul>
					{% else %}
						<p> No books are available </p>
					{% endif %}
				{% else %}
					<p> You are not signed in </p>
				{% endif %}
				
		    </div>

            <div id="footer" align="center">
                <div id="footerText" align = "center">
                    <br>
                    <a href="/home/homepage/"><font color="white"> BookSwap</font></a>
                    <br>
                    <font color="white"> Universtiy of Virginia </font> <br>
                    <font color="white"> @Facebook @Twitter </font>
                    <br><br>
                </div> 
            </div>
        </div>

    </body>
</html>