<!DOCTYPE html>
<html>
    <head>
        <title>View Book</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/stylesheetviewbook.css" />
    </head>

    <body>
    	<div id="container">
            <div id="header" align="center">
            	<div id="logo">
            		<a href="/home/homepage/"><img style="display: inline" src="{{ STATIC_URL }}images/logo.png" height="42" width="300" ></img></a>
            	</div>
                <div id="accountinfo">
                	<br>
                	<a href="/home/filebook/"> <input type="button"value="Sell Book" style="color: #000066; padding: 5px;  font-size: 18px; letter-spacing: 2px;" /></a>
                	<a href="/home/accountinfo/"> <input type="button"value="Account Info" style="color: #000066; padding: 5px;  font-size: 18px; letter-spacing: 2px;" /></a>
                </div>
                <br>
           </div>

            <div id="body" align = "center" >

               <h1>Book Info</h1>
				
				<p><b>Title: </b> {{ book.title }} </p>
				<p><b>Author: </b> {{ book.author }} </p>
				<p><b>Course: </b> {{ book.course }} </p>
				<p><b>ISBN: </b> {{ book.isbn }} </p>
				<p><b>Professor: </b> {{ book.professor }} </p>
				<p><b>Condition: </b>{{ book.condition }}</p>
				<p><b>Price: </b>{{ book.price }}</p>
				<p> To view all books, click here: <a href='/home/viewallbooks/'>View Books</a> </p>
                <p> The following will only work for book forms that belong to you: </p>
				<p> To edit this book form, click here: <a href='/home/editbook/{{book.pk}}'>Edit Book Form</a> </p>
				<p> To delete this report, click here: <a href='/home/deletebook/{{book.id}}'>Delete Book</a> </p>
				
				
		    </div>

            <div id="footer" align="center">
                <div id="footerText" align = "center">
                    <br>
                    <a href="/home/homepage/"><font color="white"> BookSwap</font></a>
                    <br>
                    <font color="white"> Universtiy of Virginia </font> <br>
                    <font color="white"> @Facebook @Twitter </font>
                    <br><br>
                </div> 
            </div>
        </div>
    </body>
</html>